<%= javascript_pack_tag 'index', 'data-turbolinks-track': 'reload' %>


<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center mt-4">To Do List</h1>
      <div class="row">
        <form class="col-12 mb-3 ps-1" id="addTask">
          <input class="task" type="text" placeholder="task to do" id="newToDo" required>
          <button class="btn btn-primary btn-sm btn-dark add mb-1">add task</button>
        </form>
      </div>
      <div class="row mb-2">
        <div class="col-2"><strong>completed</strong></div>
        <div class="col-7 ps-4"><strong>tasks</strong></div>
        <div class="col-3 ps-4"><strong>remove</strong></div>
      </div>
      <div class="row">
          <div class="col-12" id="tasks">

          </div>
      </div>
      <div>
        <button class = "toggle-all btn btn-primary btn-sm btn-dark toggle-btn me-2">All</button>
        <button class = "toggle-active btn btn-primary btn-sm btn-dark toggle-btn me-2">Active</button>
        <button class = "toggle-complete btn btn-primary btn-sm btn-dark toggle-btn">Complete</button>
      </div>
    </div>
  </div>
</div>