@import "bootstrap";

.form-check-input:checked {
  background-color: black !important;
  border-color: black !important;
  box-shadow: none !important;
}

.form-check-input {
  border-color: black !important;
  box-shadow: none !important;
}